/* Write your CSS here. */
*{
    border: 1px solid black;
    /* box-sizing: border-box; */
}
body {
    height: 100vh;
    width: 100vw;
}


.mole-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* height: 100%;
    width: 100%; */
    /* justify-content: space-between; */
}
.wgs {
    display: inline-block;
    position: relative;
    height: 241px;
    width: 320px;
    overflow: hidden;
}

.wgs__mole-head {
    position: absolute;
    left: 54px;
    transition: margin-top .25s;
    width: 188px;
}

.wgs__mole-head--hidden {
    margin-top: 241px;
}

.wgs__dirt-pile {
    position: absolute;
    top: 131px;
    height: 110px;
    /* height: 220px; */
}
